<!DOCTYPE HTML>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>创建文章</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/candy-box.css" th:href="@{/bootstrap/css/candy-box.css}" />
    <link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" href="../../static/css/animate.min.css" th:href="@{/css/animate.min.css}" />
    <link rel="stylesheet" type="text/css" href="../../static/css/jquery.skippr.css" th:href="@{/css/jquery.skippr.css}" />
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}" />
    <!--[if lt IE 9]>
    <script src="../../static/js/html5shiv.js" ></script>
    <script src="../../static/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../../static/js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}" ></script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script src="../../static/js/jquery.skippr.min.js" th:src="@{/js/jquery.skippr.min.js}"></script>
    <script src="../../static/js/jquery.scrollto.min.js" th:src="@{/js/jquery.scrollto.min.js}"></script>
    <script src="../../static/js/jquery.easing.min.js" th:src="@{/js/jquery.easing.min.js}"></script>
    <script src="../../static/js/jquery.parallax-1.1.3.js" th:src="@{/js/jquery.parallax-1.1.3.js}" type="text/javascript"></script>
    <script type="text/javascript" src="../../static/js/main.js" th:src="@{/js/main.js}"></script>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:href="@{/}">学习社区</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li th:if="${userInfo.getNick() == null}">
                    <a href="#" th:href="@{/}">首页</a>
                </li>
                <li th:if="${userInfo.getNick() != null}">
                    <a href="#" th:href="@{/user/view(uid=${userInfo.getId()})}" th:text="${userInfo.getNick()}"></a>
                </li>
                <li><a href="/group/createUI" th:href="@{/group/createUI}">创建社区</a></li>
                <li><a href="/user/settingUI" th:href="@{/group/list(uid=${userInfo.getId()})}">社区列表</a></li>
                <li><a href="/user/settingUI" th:href="@{/user/settingUI}">个人信息设置</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="#" th:action="@{/user/search}" method="post">
                <input type="text" class="form-control col-lg-8" name="content" placeholder="搜索文章">
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/article/createUI" th:href="@{/article/createUI}">创建文章</a></li>
                <li th:if="${userInfo.getAvatarPicUrl() == null}">
                    <a href="/user/loginUI">登录</a>
                </li>
                <li th:if="${userInfo.getAvatarPicUrl() != null}">
                    <a class="navbar-brand" href="#" th:href="@{/user/view(uid=${userInfo.getId()})}">
                        <img style="float:left;height: 40px;width: 40px;border-radius: 50%;margin-right: 15px" alt="Brand" src="#" th:src="@{'/img/user/avatar/'+${userInfo.avatarPicUrl}}" >
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <form action="#" th:action="@{/article/create}" th:object="${articleRequest}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" id="title" th:field="*{title}">
                </div>
                <div class="form-group">
                    <label for="pic">题图</label>
                    <input type="file" id="pic" name="pic">
                    <p class="help-block">请上传jpg或者png题图 且不超过1MB</p>
                </div>
                <div class="form-group">
                    <!--th:field="*{playerInfo.playerRole}" playerInfo表示球员实体,playerRole球员实体的属性,
                    比如 playerRole获得的是2(1:对应前锋,2:中锋,3:后卫),那么就显示中锋,*代表所有的都会匹配显示-->
                    <select th:field="*{gid}">
                        <!--playerRoleList后台获取到的集合
                        th:each="playerRole:${playerRoleList}"  遍历的写法,相当于foreach,playerRole表示变量(实体),${playerRoleList}表示需要遍历的集合
                        th:value="${playerRole.id}作为value值    ${playerRole.id}球员角色ID作为value值
                        th:text="${playerRole.name}"            作为下拉框需要显示的内容
                        th:each="playerRole:${playerRoleList}"-->
                        <option th:each="group:${groupList}"
                                th:value="${group.id}"
                                th:text="${group.title}"
                        ></option>
                    </select>
                </div>
                <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
                <button type="submit" class="btn btn-default">提交</button>
                <p th:if="${errorModel.getMessage() != ''}" th:text="${errorModel.getMessage()}"></p>
            </form>
            <input onclick="history.go(-1)" type="button" value="返回">
        </div>
    </div>

</body>

</html>