<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hpu.study_plan.dao.GroupDao">

    <select id="getTagList" parameterType="string" resultType="map">
        SELECT id, `name` FROM `tag`
    </select>
    <insert id="insertGroup" useGeneratedKeys="true" keyProperty="id" parameterType="map">
        INSERT INTO `group` (uid, title, content, pic_url, tag_id, created_time, update_time)
        VALUE (#{uid}, #{title}, #{content}, #{pic_url}, #{tag_id}, NOW(), NOW())
    </insert>
    <select id="getGroupInfoListByUid" parameterType="map" resultType="com.hpu.study_plan.model.GroupInfo">
        SELECT id, title, content, pic_url picUrl, tag_id tagId, created_time createdTime FROM `group` WHERE uid=#{uid}
        ORDER BY id DESC LIMIT 0, #{limit}
    </select>
    <select id="getGroupInfoListById" parameterType="int" resultType="com.hpu.study_plan.model.GroupInfo">
        SELECT id, title, content, pic_url picUrl, tag_id tagId, created_time createdTime FROM `group` WHERE id=#{id}
    </select>
    <select id="getGroupInfoListByIdSet" parameterType="collection" resultType="com.hpu.study_plan.model.GroupInfo">
        SELECT id, title, content, pic_url picUrl, tag_id tagId, created_time createdTime FROM `group` WHERE id IN (
        <foreach collection="collection" index="index" item="gid"  separator=",">
            #{gid}
        </foreach>
        )
    </select>
    <select id="getSimpleGroupList" parameterType="int" resultType="map">
        SELECT id, title FROM `group` WHERE uid=#{uid} ORDER BY id DESC
    </select>
    <select id="getSimpleGroupListByGroupFun" parameterType="int" resultType="map">
        SELECT g.id, title FROM `group` g INNER JOIN group_fun gf ON g.id=gf.gid WHERE g.uid=#{uid} ORDER BY g.id DESC
    </select>
    <select id="getGroupTag" parameterType="int" resultType="int">
        SELECT tag_id FROM `group` WHERE id=#{gid}
    </select>
    <insert id="insertGroupFun" parameterType="map">
        INSERT INTO group_fun (gid, uid, created_time)
        VALUE (#{gid}, #{uid}, now())
    </insert>
    <select id="isGroupFun" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM group_fun WHERE gid=#{gid} AND uid=#{uid}
    </select>
    <select id="isGroupOwner" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM `group` WHERE id=#{gid} AND uid=#{uid}
    </select>
    <delete id="delGroupFun" parameterType="map">
        DELETE FROM group_fun WHERE gid=#{gid} AND uid=#{uid}
    </delete>
    <insert id="copyOldGroupFun" parameterType="map">
        INSERT INTO group_fun_history (gid, uid, created_time, deleted_time)
        SELECT gid, uid, created_time, now() FROM group_fun WHERE gid=#{gid} AND uid=#{uid}
    </insert>
</mapper>