<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hpu.study_plan.dao.GroupDao">

    <select id="getTagList" parameterType="string" resultType="map">
        SELECT id, `name` FROM `tag`
    </select>
    <insert id="insertGroup" parameterType="map">
        INSERT INTO `group` (uid, title, content, pic_url, tag_id, created_time, update_time)
        VALUE (#{uid}, #{title}, #{content}, #{pic_url}, #{tag_id}, NOW(), NOW())
    </insert>
    <select id="getGroupInfoListByUid" parameterType="map" resultType="com.hpu.study_plan.model.GroupInfo">
        SELECT id, title, content, pic_url picUrl, created_time createdTime FROM `group` WHERE uid=#{uid}
        ORDER BY id DESC LIMIT 0, #{limit}
    </select>
    <select id="getGroupInfoListById" parameterType="int" resultType="com.hpu.study_plan.model.GroupInfo">
        SELECT id, title, content, pic_url picUrl, created_time createdTime FROM `group` WHERE id=#{id}
    </select>
    <select id="getSimpleGroupList" parameterType="int" resultType="map">
        SELECT id, title FROM `group` WHERE uid=#{uid}
    </select>
</mapper>