<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hpu.study_plan.dao.UserDao">
    <insert id="insertUser" parameterType="map">
        INSERT INTO `user`(nick, phone_number, gender, avatar_pic_url, birthday, created_time, update_time)
        VALUE (#{nick}, #{phoneNumber}, #{gender}, #{avatarPicUrl}, #{birthday}, NOW(), NOW())
    </insert>
    <select id="getUserCount" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM `user` WHERE phone_number=#{phoneNumber}
    </select>
    <select id="getUserInfoByPhone" parameterType="string" resultType="userInfo">
        SELECT id, nick, phone_number phoneNumber, gender, avatar_pic_url avatarPicUrl, birthday FROM `user` WHERE phone_number=#{phoneNumber}
    </select>
    <update id="updateUser" parameterType="map">
        UPDATE `user` SET nick=#{nick}, gender=#{gender}, avatar_pic_url=#{avatarPicUrl}, birthday=#{birthday}, update_time=NOW()
    </update>
    <select id="getUserNick" parameterType="int" resultType="string">
        SELECT nick FROM `user` WHERE id=#{id}
    </select>
    <select id="getUserInfoById" parameterType="int" resultType="userInfo">
        SELECT id, nick, phone_number phoneNumber, gender, avatar_pic_url avatarPicUrl, birthday FROM `user` WHERE id=#{id}
    </select>
</mapper>