<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hpu.study_plan.dao.UserDao">
    <insert id="insertUser" parameterType="map">
        INSERT INTO `user`(nick, phone_number, account, password, gender, avatar_pic_url, birthday, created_time)
        VALUE (#{nick}, #{phoneNumber}, #{account}, #{password}, #{gender}, #{avatarPicUrl}, #{birthday}, NOW())
    </insert>
    <update id="updatePassword" parameterType="map">
        UPDATE `user` SET password='111111' WHERE id=#{uid}
    </update>
</mapper>